<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<div class="wrapper">
<iframe src="https://player.vimeo.com/video/6923104?color=ffffff" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/6923104">Augmented Reality.</a> from <a href="https://vimeo.com/movingbrands">Moving Brands&reg;</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<hr>

<div class="wrapper">
  <div class="grid-uniform">
    <div class="grid__item one-half medium-down--one-whole">
      {{ "artbook.png" | asset_url | img_tag: "Prosthetic Reality" }}
    </div>
    <div class="grid__item one-half medium-down--one-whole">
      {{ "store.png" | asset_url | img_tag: "Download" }}
    </div>
  </div>
</div>

<hr>

<div class="wrapper">

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

  {% comment %}
    Loop through products in the prosthetic-reality-book collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections.prosthetic-reality-book.products limit:3 %}

    {% comment %}
      Change the grid item width by using classes from the grid in
      the grid_item_width variable.

      Example:
        - {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% endcomment %}
    {% assign grid_item_width = 'large--one-third medium--one-half' %}
    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>
</div>

<hr>

<div class="wrapper text-center">
<h5 class="social-header">Follow us on <span class="instagram-link">Instagram</span></h5>

<div class="instagram-images">

  <img src="http://placehold.it/1050x210">

</div>
</div>
